/* content-wrapper start */
.content-wrapper{
    margin-left: 240px;
    margin-top: 65px;
    transition: .5s;
    background: #fcfafa;
}
.content-wrapper.hide{
    margin-left: 0;
}

.top-chart-earn{
    padding-top: 15px;
    padding: 3%;
    margin-left: 5%;
    
}
.last-month{
    line-height: 20px;
    text-align: center;
    background: #d3abd340;
    border-radius: 10px;
    padding: 30px 0;
    box-sizing: border-box;
    box-shadow: -2px 3px 13px 0px #ddd6;
}


.last-month h5{
    font-size: 25px;
    font-weight: 600;
}
.last-month p{
    font-size: 15px;
    color: var(--dark-bg);
}
.earn{
    margin: 12px 0;
}
.earn h2{
    font-size: 25px;
    font-weight: 600;
}
.sale h2{
    font-size: 25px;
    font-weight: 600;
}
.classic-tabs {
    border-radius: 10px;
    background: #ffff;
    box-sizing: border-box;
    box-shadow: -2px 3px 13px 0px #ddd6;
}

.chart-nav{
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 15px;
    transition: .2s;
}
.chart-nav.active{
    background-color: #ffff !important;
    color: var(--main-color) !important;
    border-bottom: 3px solid var(--main-color);
    border-radius: 0;
}
.chart-nav:hover{
    color: var(--main-color);
    border-radius: 0;
}
.chart-header-tab{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.widget {
    width: 50%;
    margin-left: 25%;
}

.wre-sec{
    overflow: hidden;
    border-radius: 10px;
    background: #ffff;
    box-sizing: border-box;
    box-shadow: -2px 3px 13px 0px #ddd6;
}
.bdr-cls{
    border-right: 1px solid #e6e3e3;
}
.earn-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;

}
.earn-icon{
    width: 38px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 2%;
    background: #555454;
    line-height: 20px;
    font-size: 20px;
    color: var(--white-color);
}
/* ===========Top section======= */
.wallet{
    background: var(--main-color);
}
.referral{
    background: rgb(206, 10, 180);
}
.sales{
    background: blueviolet;
}
.earning{
    background: palevioletred;
}
/* /content-wrapper end */
/* Calendar start*/
.top-calendar{
    border-radius: 5px;
    padding-top: 15px;
    box-shadow: -2px 3px 13px 0px #ddd6;
    padding: 3%;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar-sec{
    width: 100%;
    background: #ddd3;
    border-radius: 10px;

}
.calendar-sec header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}
header .current-data{
    font-size: 1.45rem;
    font-weight: 500;
}
header .calendar-icon .span{
    margin: 0 1px;
    text-align: center !important;
   
   
}
header .calendar-icon span:hover{
    background: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
}
header .calendar-icon span:last-child{
    margin-right: -10px;
   
}
.calendar{
    padding: 20px;
}
.calendar .weeks li{
    font-weight: 500;
    text-align:center;
}

.calendar ul{
    display: flex;
    flex-wrap: wrap;
}
.calendar ul li{
    position: relative;
    width: calc(100% / 7);
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;

}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #ffff;
}
.calendar .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 46%;
    left: 50%;
    z-index: -1;
    transform: translate(-110%, -46%);
    border-radius: 50%;
   
}
.days li:hover::before{
    background: #e0dfdf;
   
}
.days li.active::before{
    background: var(--main-color-alt);
}
/* revenue-one_hybrid start */
.revenue{
    padding-top: 5%;
    border-radius: 10px;
    overflow: hidden;
}
.revenue-one_hybrid{
    background: var(---main-gradient);
    margin-left: 10%;
}
.revenue-heading{

}
.w-title{
    display: flex;
    padding: 0 7px 10px;
    align-items: center;

}
.w-icon{
    font-size: 150%;
    color: var(--white-color);
    padding-right:var(--mb-2) ;
}
.sm-chart-text{
    line-height: 20px;
    color: var(--white-color);
}
.w-value{
    font-size: 120%;

}
/* =====progress chart===== */
.progress-chart{
    width: 100%;
}
.progress-chart .progress-bar .info{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.progress-bar .bar{
    width: 100%;
    height: 10px;
    background: #555454;
    border-radius: 10px;
    margin-top: 5px;
}
/* revenue-one_hybrid end */
/* Calendar end */

@media (max-width:700px) {
    
    
}
